
body{
    background-color: cadetblue;
}

.page{
    position: absolute;
    left: 35em;
}

.from{
    margin: 30px 0px;
}

h2{
    color: #fff;
    font-size: 40px;
    margin: 8px 0px 10px 0px;
}

.to{
    margin: 31px 0px;
}

select{
    width: 12em;
    height: 2em;
}

h3{
    margin: 6px 0px;
}

#amountInput{
    width: 12em;
    height: 2em;
    background-color: darkcyan;
    border-color: #fff;
}

#convertInput{
    background-color: darkcyan;
    width: 6em;
    height: 2em;
    font-size: 16px;
    position: absolute;
    top: 21em;
    right: 2.4em;
    cursor: pointer;
}

#result{
    position: absolute;
    top: 12.4em;
    left: -1em;
    font-size: xx-large;
    width: 12em;
}
